min_proj/*
latex_documents/project_report.aux
latex_documents/project_report.fdb_latexmk
latex_documents/project_report.fls
latex_documents/project_report.log
latex_documents/project_report.synctex.gz
latex_documents/diabetes classifier(final).aux
latex_documents/diabetes classifier(final).fdb_latexmk
latex_documents/diabetes classifier(final).fls
latex_documents/diabetes classifier(final).log
latex_documents/project_report.out
