min_proj/*
latex_documents/project_report.aux
latex_documents/project_report.fdb_latexmk
latex_documents/project_report.fls
latex_documents/project_report.log
latex_documents/project_report.synctex.gz
